* {
    padding: 0%;
    margin: 0%;                   /* chave curinga pra "todos" ; zerando tudo pq ja vem com margem e padd pré estabelecidos */
    box-sizing: border-box;
    color: rgb(128, 207, 26);
    font-family: 'Koulen', cursive; /* fonte pega no site da google*/

}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}
body{
    background-image: url(./fundo4.jpg) ;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; /*comando para ajustar imagem se for grande demais*/
    height: 100vh;

}
.container{
    text-align: center;
}

.container .name h1{
    font-size: 60px;
}
.container .name h5{
    font-size: 25px;
}

#arrow{

font-size: 35px;
cursor: pointer;
animation: blink 1s steps(5,start)infinite; 
/*   nome da anim. tempo intervalo da funçao  loop*/
}

@keyframes blink {
    /*efeito piscar*/
    to{
        visibility :hidden;
    }
}

#about p{
    max-width: 600px;
    margin: 0 auto;
}
form{
    width: 70%;
    margin: 0 auto;
    
}
 form input{
    padding: 5px 10px;
    width: 60%;
    border: none;
    border-radius: 10px 0px 0px 10px;
 }
 form button{
     padding: 5px 10px;
     background: linear-gradient(to right ,green 50%,blue 50%);/*animação de cor do botão*/
     background-size: 200% 100%;
     background-position: right bottom;
     color:bisque;
     border: none;
     font-weight: 600;
     cursor: pointer;
     transition: 300ms;/*tempo on/off */
     border-radius: 0px 10px 10px 0px ; /*arredondamento*/
     margin-left: -6px;
     margin-top: 10px;

    width: 15%;
 }
.form button:hover{
    background-position: left bottom;
    color:bisque

}
.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px;
   
}



 .flex img {  /* tamanho da imagem da classe flex*/
     max-width: 90px;   
 }

 header{
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 10px;
     box-shadow: 1px 1px 10px 1px;
    /*  border-bottom: 15px ridge whitesmoke; */
     
 }
  header ul li a:hover{ /*apontando com evidencia*/
    color: green;
    text-decoration: underline;
 }

header ul{
    display: flex;
}
header ul li{
    padding: 15%;
}
/*.flex div{ border: 1px solid gray} isso deixar uma borda no icone */

.rotacione{

    transform: rotate(180deg);
    transition: 300ms;

}
.ativar{
    display: block !important;/*exessao ao absoluto , funçao do visivel e nao visivel*/
    transition: 300ms;
}
.anima{
    transition: 300ms;
}
@media only  screen and(max-width:768px) {
    .container .form{
        width: 100%;
    }
    
    .container .form input{
        width: 100% 
    }
    
}


@media only  screen and(max-width:480px) {
/*  fazendo a responsividade*/
    .container .name h1{
        font-size: 30px;
    }
    
    .container .name h5{
        font-size: 15px;
    }

    #about p{
        max-width: 80%;
        text-align: justify;
    }
    .form button{
        max-width: 80%;
        
    }
    #arrow{

        font-size: 35px;
        cursor: pointer;
        animation: blink 1s steps(5,start)infinite; 
        /*   nome da anim. tempo intervalo da funçao  loop*/
        }
   

}
footer{
    background-image: url("fundo4.jpg") ;
    
    
   

}
#sobre.ativar{
    background-image: url("BCG.jpg");
    background-position: center center;
    background-size: cover;
}
